extends layout

block content
  h2 Session Login

  form#sessionLoginForm(method="POST")
    label(for="")  
      input(name="username" type="text", placeholder="test")
    label(for="")  
      input(name="password" type="password", placeholder="123")
    button(type="submit") Login